/*Styling for the NavBar*/

.header-hero {
    border-radius: 50% / 0 0 70px 70px;
    overflow: hidden;
}

.nav-wrapper {
    background-color: var(--clr-primary-100);
    border: 1px solid var(--clr-primary-100);
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0% 5%;
    padding-top: 1%;
}

nav img {
    width: 80px;
}

.nav-links {
    display: flex;
    width: inherit;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .nav-links {
        display: none;
    }
}

.nav-links ul {
    width: 500px;
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

@media all and (max-width: 1200px) {
   .nav-links ul {
    margin-right: 20px;
    width: 400px;
   }
}  

.nav-links ul li .link {
    text-decoration: none;
    color: var(--clr-neutral-400);
    font-weight: 300;
    white-space: nowrap;
}

.nav-links ul li a:hover {
    color: var(--clr-neutral-100);
    transition: 300ms ease-in;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.nav-buttons button {
    width: 160px;
    height: 60px;
    border: none;
    border-radius: 80vw;
    font-size: 22px;
}

@media all and (max-width: 1200px) {
    .nav-buttons button {
        width: 120px;
        height: 50px;
        font-size: 18px;
    }
} 

.login {
    color: var(--clr-neutral-600);
    font-weight: 600;
    text-decoration: none;
}

.login:hover {
    border: 2px solid rgb(63, 62, 62);
    cursor: pointer;
    transition: 300ms ease-in;
}

.sign-up {
    background-color: hsla(0, 0%, 100%, 0.279);
    color: var(--clr-neutral-400);
    font-weight: 600;
}

.sign-up:hover {
    border: 2px solid rgb(63, 62, 62);
    cursor: pointer;
    transition: 300ms ease-in;
}

/*Styling for the HERO section*/

.hero-section {
    margin-inline: 5%;
    display: flex;
}

/*Media Query for Tab View*/
@media all and (max-width: 1000px) {
    .hero-section {
        display: grid;
    }
} 

.hero-section1 {
    margin-top: 100px;
}

.yellow-text {
    color: var(--clr-neutral-500);
}

.hero-section1 h2 {
    color: var(--clr-neutral-400);
    font-size: 54px;
    font-weight: bold;
    margin: 0;
}

/*  MEDIA QUERY FOR TAB VIEW*/

@media all and (max-width: 1200px) {
    .hero-section1 h2 {
        font-size: 40px;
    }
} 

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .hero-section1 h2 {
        font-size: 30px;
        text-align: center;
    }
}

.white-p {
    color: var(--clr-neutral-400);
    font-family: "Nunito Sans", sans-serif;
    padding: 0;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .white-p {
        text-align: center;
    }
}

.hero-section1 div {
    display: flex;
    justify-content: space-between
}

/* MEDAI QUERY FFOR TAB VIEW*/

@media all and (max-width: 1200px) {
   .hero-section1 div {
    width: 500px;
    padding-right: 30px;
    gap: 20px;
   } 
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .hero-section1 div {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.join {
    background-color: hsla(0, 0%, 100%, 0.279);
    color: var(--clr-neutral-400);
    font-weight: 600;
    font-size: 22px;
    width: 200px;
    height: 80px;
    border: none;
    border-radius: 80vw;
}

/* MEDIA QUERY FOR TAB VIEW*/

@media all and (max-width: 1200px) {
    .join {
        width: 160px;
        font-size: 20px;
    }
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .join {
        font-size: 18px;
        border-radius: 100vw;
        height: 65px;
    }
}

.join:hover {
    border: 2px solid rgb(63, 62, 62);
    cursor: pointer;
    transition: 300ms ease-in;
}

.play-btn {
    padding: 0;
    margin: 0;
    display: block;
    height: auto;
    max-width: 100%;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .play-btn {
        width: clamp(30px, 60px, 80px);
    }
}

.black-p {
    color: var(--clr-neutral-300);
    font-size: 24px;
    font-weight: var(--fw-regular);
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .black-p {
        font-size: 18px;
    }
}

.hero-section2 img {
    height: auto;
    width: 100%;
    max-width: 100%;
}

/*Styling for the MAIN section*/

.section-container {
    margin-inline: 5%;
}

.main-section1-sub1 {
    margin-block: 80px 50px;
}

.main-section1-sub1 h2 {
    font-size: 48px;
    font-weight: var(--fw-bold);
    text-align: center;
    padding-block: 10px;
    margin: 0;
    color: var(--clr-neutral-600);
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .main-section1-sub1 h2 {
        font-size: 30px;
    }
}

.main-section1-sub1 p {
    font-size: 18px;
    text-align: center;
    width: 60%;
    margin: auto;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .main-section1-sub1 p {
        font-size: 16px;
    }
}

.main-section1-sub2 {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: space-between;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .main-section1-sub2 {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
}

.gradient-number {
    font-size: 96px;
    font-weight: 300;
    background: linear-gradient(to right, #136CB5, #49BBBD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .gradient-number {
        font-size: 70px;
    }
}

.normal-text {
    font-size: 32px;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .normal-text {
        font-size: 20px;
    }
}

.main-section1-sub3 {
    margin-block: 80px;
}

.main-section1-sub3 h2 {
    text-align: center;
    font-weight: var(--fw-bold);
    font-size: 36px;
    color: var(--clr-neutral-700);
    line-height: 180%;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .main-section1-sub3 h2 {
        font-size: 30px;
    }
}

.main-section1-sub3 h2 span {
    color: var(--clr-neutral-800);
}

.main-section1-sub3 p {
    width: 65%;
    text-align: center;
    margin-inline: auto;
    line-height: 180%;
    font-size: 24px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .main-section1-sub3 p {
        font-size: 18px;
    }
}

.main-section1-sub4 {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .main-section1-sub4 {
        display: grid;
        justify-content: center;
        gap: 100px;
    }
}

.main-section1-sub4 div {
    width: 450px;
    display: grid;
    border-radius: 20px;
    box-shadow: 0px 10px 60px 0px #262d7615;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .main-section1-sub4 div {
        width: 60%;
        margin-inline: auto;
    }
}

.main-section1-sub4 div img {
    position: relative;
    margin-inline: auto;
    bottom: 40%;
}

.main-section1-sub4 div h3 {
    font-size: 30px;
    text-align: center;
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-700);
    padding-inline: 50px;
    margin-inline: auto;
    line-height: auto;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .main-section1-sub4 div h3 {
        font-size: 25px;
    }
}

.main-section1-sub4 div p {
    font-size: 20px;
    line-height: 180%;
    padding-inline: 20px;
    text-align: center;
    color: var(--clr-neutral-900);
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .main-section1-sub4 div p {
        font-size: 18px;
    }
}

.main-section2 {
    
}

.what-is-totc {
    margin-block: 100px 50px;
}

.what {
    font-size: 44px;
    line-height: 180%;
    font-weight: var(--fw-semiBold);
    color: var(--clr-neutral-700);
    margin: 0;
    text-align: center;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .what {
        font-size: 30px;
    }
}

.what span {
    color: var(--clr-neutral-800);
}

.what-paragraph {
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 2%;
    color: var(--clr-neutral-900);
    width: 76%;
    text-align: center;
    margin-inline: auto;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .what-paragraph {
        font-size: 20px;
    }
}

.instructor-students {
    display: flex;
    gap: 60px;
    margin-inline: 80px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .instructor-students {
        display: grid;
        margin-inline: 10px;
    }   
}

.for-instructors, .for-students {
    width: 600px;
    height: 400px;
    border-radius: 20px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .for-instructors, .for-students {
        width: 100%;
    }
}

.for-instructors {
    background-image: url(../../Images/landing-page/for-instructor.png);
    background-position: center;
    background-repeat: no-repeat;
}

.for-students {
    background-image: url(../../Images/landing-page/for-students.png);
    background-position: center;
    background-repeat: no-repeat;
}

.for-instructors div {
    margin-inline: auto;
    margin-top: 120px;
    width: 300px;
}

.for-students div {
    margin-inline: auto;
    margin-top: 120px;
    width: 300px;
}

.for-instructors h2, .for-students h2 {
    font-size: 32px;
    font-weight: var(--fw-semiBold);
    text-align: center;
    color: var(--clr-neutral-400);
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .for-instructors h2, .for-students h2 {
        font-size: 25px;
    }
}

.for-instructors button {
    width: 283px;
    height: 80px;
    border-radius: 80vw;
    font-size: 22px;
    font-weight: var(--fw-medium);
    border-color: var(--clr-neutral-400);
    color: var(--clr-neutral-400);
    background: transparent;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .for-instructors button {
        width: 200px;
        border-radius: 100vw;
        font-size: 18px;
        height: 60px;
        margin-left: 50px;
    }
}

.for-students button {
    width: 283px;
    height: 80px;
    border: none;
    border-radius: 80vw;
    font-size: 22px;
    font-weight: var(--fw-medium);
    background: var(--clr-primary-300);
    opacity: 90%;
    color: var(--clr-neutral-400);
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .for-students button {
        width: 200px;
        border-radius: 100vw;
        font-size: 18px;
        height: 60px;
        margin-left: 50px;
    }
}

.everything {
    display: flex;
    margin-block: 100px;
    gap: 30px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .everything {
        display: grid;
    }
}

.everything-you-can h3 {
    font-size: 36px;
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-700);
    line-height: 160%;
    text-align: left;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .everything-you-can h3 {
        font-size: 30px;
        text-align: center;
    }
}

.everything-you-can h3 span {
    color: var(--clr-neutral-800);
}

.everything-you-can p {
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 2%;
    color: var(--clr-neutral-900);
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .everything-you-can p {
        font-size: 18px;
        text-align: center;
        padding-inline: 30px;
    }
}

.everything-you-can a {
    font-size: 22px;
    color: var(--clr-neutral-900);
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .everything-you-can a {
        font-size: 18px;
        padding-left: 40%;
    }
}

.what-is-totc div img {
    height: auto;
    width: 100%;
    max-width: 100%;
}

/*Media Query for Tab View*/
@media all and (max-width: 1200px) {
    .whatsTOTC-container div img {
        height: auto;
        width: clamp(400px, 500px, 600px);
    }
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .whatsTOTC-container div img {
        width: 100%;
    }
}

.our-features {
    font-size: 36px;
    color: var(--clr-neutral-700);
    line-height: 180%;
    text-align: center;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .our-features {
        font-size: 30px;
    }
}

.our-features span {
    color: var(--clr-neutral-800);
}

.our-features-pgh {
    font-size: 24px;
    color: var(--clr-neutral-900);
    text-align: center;
    line-height: 180%;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .our-features-pgh {
        font-size: 20px;
    }
}

.our-features-group2 {
    display: flex;
    margin-top: 70px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .our-features-group2 {
        display: grid;
    }
}

.our-features-group2 div img {
    height: auto;
    width: 100%;
    max-width: 100%;
}


.a-user {
    margin-top: 60px;
    margin-left: 30px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .a-user {
        margin-bottom: 60px;
        margin-top: 0px;
    }
}

.a-user h2 {
    font-size: 40px;
    line-height: 160%;
    font-weight: var(--fw-semiBold);
    color: var(--clr-neutral-700);
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .a-user h2 {
        font-size: 30px;
        text-align: center;
    }
}

.a-user h2 span {
    color: var(--clr-neutral-800);
}

.a-user ul {
    font-size: 22px;
    color: var(--clr-neutral-900);
    list-style: none;
    padding-left: 0;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .a-user ul {
        font-size: 18px;
    }   
}

.a-user ul li {
    margin-bottom: 25px;
    padding-left: 80px; /* Space for the image */
    background-repeat: no-repeat;
    background-position: left center;
}

.item1 {
    background-image: url(../../Images/landing-page/grid-icon.png);
}

.item2 {
    background-image: url(../../Images/landing-page/front-icon.png);
}

.item3 {
    background-image: url(../../Images/landing-page/teachers&students.png);
}

.our-features-group3 {
    display: flex;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .our-features-group3 {
        display: grid;
    }
}

.our-features-group3 div img {
    max-width: min-content;
}

/* Media  Query for Tab View*/
@media all and (max-width: 1200px) {
    .our-features-group3 div img {
        width: clamp(400px, 500px, 600px);
    }
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .our-features-group3 div img {
        margin-inline: auto;
        display: block;
        width: 100%;
    }
}

.tools {
    margin-block: auto;
}

.our-features-group3 h2 {
    font-size: 40px;
    line-height: 160%;
    font-weight: var(--fw-semiBold);
    color: var(--clr-neutral-700);
    width: 393px;
    padding: 0;
    margin: 0;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .our-features-group3 h2 {
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
}

.our-features-group3 h2 span {
    color: var(--clr-neutral-800);
}


.our-features-group3 p {
    font-size: 22px;
    line-height: 180%;
    color: var(--clr-neutral-900);
    letter-spacing: 2%;
    width: 81%;
    text-align: justify;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .our-features-group3 p {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
}


.our-features-group4 {
    display: flex;
    margin-top: 50px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .our-features-group4 {
        display: grid;
        margin-top: 100px;
    }   
}

.our-features-group4 div img {
    max-width: min-content;
    width: 100%;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .our-features-group4 div img {
        display: block;
        margin-inline: auto;
    }
}

.assessments {
    margin-left: auto;
    margin-block: auto;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
   .assessments {
    margin-inline: auto;
    margin-block: 0;
   } 
}

.assessments h2 {
    font-size: 40px;
    line-height: 160%;
    font-weight: var(--fw-semiBold);
    color: var(--clr-neutral-700);
    width: 347px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .assessments h2 {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }
}

.assessments h2 span {
    color: var(--clr-neutral-800);
}

.assessments p {
    font-size: 22px;
    color: var(--clr-neutral-900);
    line-height: 180%;
    letter-spacing: 2%;
    width: 550px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .assessments p {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
}

.our-features-group5 {
    display: flex;
    margin-block: 80px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .our-features-group5 {
        display: grid;
    }
}

.our-features-group5 div img {
    max-width: min-content;
    width: 100%;
    height: auto;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .our-features-group5 div img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

.class-mgt {
    margin-block: auto;
    margin-right: 50px;
}

.class-mgt h2 {
    font-size: 40px;
    line-height: 160%;
    font-weight: var(--fw-semiBold);
    color: var(--clr-neutral-700);
    width: 420px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .class-mgt h2 {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
}

.class-mgt h2 span {
    color: var(--clr-neutral-800);
}

.class-mgt p {
    font-size: 22px;
    color: var(--clr-neutral-900);
    line-height: 180%;
    letter-spacing: 2%;
    width: 600px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .class-mgt p {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }
}

.class-mgt-img {
    margin-left: auto;
}

.our-features-group6 {
    display: flex;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .our-features-group6 {
        display: grid;
        margin-block: 100px;
    }
}

.our-features-group6 div img {
    max-width: min-content;
    width: 100%;
}

.one-on-one {
    margin-left: 50px;
    margin-block: auto;

}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .one-on-one {
        margin-left: 0;
        margin-block: 0;
    }   
}

.one-on-one h2 {
    font-size: 40px;
    line-height: 160%;
    font-weight: var(--fw-semiBold);
    color: var(--clr-neutral-700);
    width: 420px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .one-on-one h2 {
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
}

.one-on-one h2 span {
    color: var(--clr-neutral-800);
}

.one-on-one p {
    font-size: 22px;
    color: var(--clr-neutral-900);
    line-height: 180%;
    letter-spacing: 2%;
    width: 540px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .one-on-one p {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }   
}

.see-more {
    display: flex;
    justify-content: center;
    margin-block: 40px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .see-more {
        margin-block: 0;
    }
}

.see-more button {
    width: 280px;
    height: 80px;
    border-radius: 80vw;
    font-size: 22px;
    font-weight: var(--fw-medium);
    border-color: var(--clr-neutral-800);
    color: var(--clr-neutral-800);
    background: transparent;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .see-more button {
        width: 220px;
        height: 55px;
        font-size: 19px;
    }   
}

.see-more button:hover {
    border-width: 5px;
    cursor: pointer;
}

/* styling for explore courses section*/

.explore-course {
    position: relative;
}

.explore-course::before {
    content: "";
    width: 80%;
    height: 100%;
    background-color: #9dccff4f;
    position: absolute;
    border-radius: 0 0 80px 0;
    z-index: -1;
}

.explore-container {
    padding-top: 200px;
    margin-left: 5%;
}

.explore-container div h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-bold);
    opacity: 87%;
    padding: 0;
    margin: 0;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .explore-container div h2 {
        font-size: 30px;
    }   
}

.explore-intro {
    font-size: 24px;
    font-weight: var(--fw-medium);
    opacity: 54%;
    margin-bottom: 60px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .explore-intro {
        font-size: 18px;
    }   
}

.lorem-see-all {
    display: flex;
    justify-content: space-between;
}

.lorem {
    display: grid;
    grid-template-columns: 20px max-content;
    grid-gap: 20px;
    grid-template-rows: 40px;
    margin-bottom: 40px;
}


.lorem p {
    margin-block: auto;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-bold);
    padding: 0;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .lorem p {
        font-size: 22px;
    }   
}

.lorem-see-all a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-101);
    font-size: 24px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .lorem-see-all a {
        font-size: 20px;
    }   
}

.course-photo {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 80px;
}

/* styling for testimonial*/

.testimony-container {
    margin-inline: 5%;
    display: flex;
    margin-top: 70px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
     .testimony-container {
        display: grid;
     } 
}

.testimony {
    margin-right: 80px;
}

/* meedia query for Tab View*/
@media all and (max-width: 1200px) {
  .testimony {
    margin-right: 30px;
  }  
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .testimony {
        margin: 0;
    }   
}

.testimony h5 {
    font-size: 20px;
    font-weight: var(--fw-regular);
    letter-spacing: 4px;
    position: relative;
    margin-left: 70px;
    color: var(--clr-neutral-104);
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .testimony h5 {
        text-align: center;
        margin-left: 0;
        position: relative;
    }   
}

.testimony h5::before {
    content: "";
    width: 55px;
    height: 1px;
    position: absolute;
    background-color: var(--clr-neutral-104);
    left: -70px;
    bottom: 15px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .testimony h5::before {
        left: 190px;
        bottom: 10px;
        position: absolute;
    }   
}

.testimony h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 60px;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-700);
    padding: 0;
    margin: 0;
}

/*media query for Tab View*/

@media all and (max-width: 1200px) {
   .testimony h2 {
    font-size: 40px;
   } 
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .testimony h2 {
        font-size: 30px;
        text-align: center;
    }
}

.testimony p {
    font-size: 26px;
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-900);
    letter-spacing: 2%;
}

@media all and (max-width: 1200px) {
  .testimony p {
    font-size: 20px;
    text-align: center;
  }
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .testimony p {
        font-size: 18px;
    }
}

.testimony a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    padding-inline: 10px 50px;
    padding-block: 20.8px;
    font-size: 22px;
    text-decoration: none;
    line-height: 160%;
    color: var(--clr-primary-100);
    border-top: 1px solid var(--clr-primary-100);
    border-bottom: 1px solid var(--clr-primary-100);
    border-left: 1px solid var(--clr-primary-100);
    border-radius: 80vw 0 0 80vw;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .testimony a {
        margin-inline: auto;
        font-size: 18px;
        width: 200px;
        padding-block: 17px;
        position: relative;
    }
}

.testimony a img {
    position: absolute;
    left: 365px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .testimony a img {
        left: 230px;
        width: 65px;
    }
}

.testifier-container {
    padding: 30px 60px 0 30px;
    position: relative;
    margin-right: 50px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .testifier-container {
        display: grid;
        padding: 0;
    }  
}

.next-testimony {
    position: absolute;
    left: 500px;
    bottom: 320px; 
}

.next-testimony:hover {
    cursor: pointer;
    width: 90px;
}

/*Media Query for Tab View*/

@media all and (max-width: 1200px) {
  .next-testimony {
    position: absolute;
    bottom: 320px;
  }  
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .next-testimony {
        position: revert;
        grid-area: 1 / 1;
        z-index: 1;
        margin-inline: 92%;
        margin-block: auto;
    }
    
    .testifier-img {
        width: 100%;
        grid-area: 1 / 1;
    }
}

.testimony-details {
    width: 500px;
    position: absolute;
    padding: 10px 25px 20px 50px;
    border-left: 12px solid #f67766;
    border-radius: 10px 20px 20px 10px;
    box-shadow: 2px 4px 60px 0px #292c7c2d;
    top: 450px;
    left: 90px;
    z-index: 1;
    background-color: #ffffff;
}

/* Media Query for Tab View*/

@media all and (max-width: 1200px) {
    .testimony-details {
        width: clamp(200px, 350px, 450px);
    }
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .testimony-details {
        position: relative;
        width: 80%;
        top: -100px;
        left: 30px;
    }   
}

.testimony-details p {
    font-family: "Nunito Sans" sans-serif;
}

.what-they-say {
    text-align: left;
    font-size: 22px;
    letter-spacing: 2%;
    line-height: 180%;
    color: #5f5f7e;
    font-family: "Nunito Sans", sans-serif;
    font-weight: var(--fw-semiBold);
}

@media all and (max-width: 1200px) {
    .what-they-say {
        font-size: 18px;
    }
}

.what-they-say::before {
    content: "";
    width: 2px;
    height: 42%;
    left: 30px;
    top: 42px;
    background-color: #bdbdd1;
    position: absolute;
}

.review-details {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.testifier-name {
    font-size: 24px;
    font-family: "Nunito Sans";
    color: #5f5f7e;
    font-weight: var(--fw-semiBold);
}

@media all and (max-width: 1200px) {
  .testifier-name {
    font-size: 18px;
  }  
} 

/* styling for latest news*/

.latest-news-container {
    margin-top: 220px;
    margin-inline: 5%;
    margin-bottom: 80px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .latest-news-container {
        margin-top: 100px;
    }   
}

.latest-news-container div h3 {
    font-size: 36px;
    font-weight: var(--fw-bold);
    font-family: "Nunito Sans", sans-serif;
    color: var(--clr-neutral-700);
    padding: 0;
    margin: 0;
    text-align: center;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .latest-news-container div h3 {
        font-size: 30px;
    }   
}

.see {
    text-align: center;
    font-size: 24px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: var(--fw-regular);
    line-height: 180%;
    color: var(--clr-neutral-900);
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .see {
        font-size: 18px;
    }   
}

.news-container {
    margin-top: 100px;
    display: flex;
    gap: 80px;
}

/* MEDIA QUERY FOR MOBILE VIEW*/

@media all and (max-width: 1000px) {
    .news-container {
        display: grid;
    }   
}

@media all and (max-width: 1200px) {
    .news-container {
        gap: 50px;
    }

    .news-card1 {
        width: clamp(300px, 400px, 500px);
    }
} 

.first-news {
    background-color: var(--clr-neutral-800);
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-400);
    width: 130px;
    text-align: center;
    border-radius: 80vw;
}

.first-news:hover {
    background-color: #49bbbdce;
    cursor: pointer;
}

.class-adds {
    font-size: 26px;
    line-height: 180%;
    font-weight: var(--fw-medium);
    color: #252641;
}

.class-launched {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 180%;
    color: var(--clr-neutral-900);
}

.news-container div a {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 180%;
    color: var(--clr-neutral-900);
}

.news-list {
    display: flex;
    gap: 40px;
}

.news-list div {
    position: relative;
    margin-bottom: 18px;
}

.news-media {
    display: grid;
    position: relative;
}

.news-media img {
    height: auto;
    grid-area: 1 / 1;
}

.news-media h5 {
    grid-area: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-list div h5 {
    background-color: var(--clr-neutral-800);
    padding: 5px 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-400);
    width: max-content;
    height: 30px;
    text-align: center;
    border-radius: 80vw;
    z-index: 1;
    margin-right: 12px;
    margin-left: auto;
    margin-top: 140px;
}

.news-list div h5:hover {
    background-color: #49bbbdce;
    cursor: pointer;
}

.news-text h4 {
    margin-top: 15px;
    padding: 0;
    font-weight: var(--fw-medium);
    line-height: 180%;
    color: var(--clr-primary-600);
}

.news-text p {
    font-size: 14px;
    color: var(--clr-neutral-900);
}

/* styling for the Footer Section*/

.footer-container {
    background-color: var(--clr-primary-600);
    display: flex;
    justify-content: center;
}

.footer-logo-wrap {
    display: flex;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.footer-logo-wrap h3 {
    color: var(--clr-neutral-400);
    font-size: 22px;
    font-weight: var(--fw-semiBold);
    position: relative;
    letter-spacing: 1px;
}

.footer-logo-wrap h3::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 72px;
    background-color: #626381;
    left: -30px;
}

.subscribe p {
    color: var(--clr-neutral-102);
    font-size: 26px;
    font-weight: var(--fw-medium);
    letter-spacing: 1px;
    text-align: center;
}

.subscribe form {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.subscribe form input {
    width: 360px;
    padding: 15px;
    border-radius: 80vw;
    border: 2px solid var(--clr-neutral-103);
    background: none;
    color: #ffffff;
}

.subscribe form input::placeholder {
    color: var(--clr-neutral-103);
}

.subscribe form button {
    width: 170px;
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-400);
    border-radius: 60vw;
    font-size: 22px;
    font-weight: var(--fw-medium);
    text-align: center;
    padding-block: 15px;
}

.subscribe form button:hover {
    background-color: #49bbbdce;
}

.footer-nav {
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: center;
    margin-top: 50px;
}

.terms, .privacy {
    position: relative;
}

.terms::before, .privacy::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 17px;
    background-color: #626381;
    top: 7px;
    left: -20px;
}

.footer-nav a {
    color: var(--clr-neutral-103);
    font-size: 22px;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: var(--fw-regular);
}

.footer-nav a:hover {
    color: white;
}

.footer-nav-wrap p {
    text-align: center;
    color: var(--clr-neutral-103);
    font-weight: var(--fw-regular);
}