/*Styling for the NavBar*/

.header-hero {
    border-radius: 50% / 0 0 70px 70px;
    overflow: hidden;
}

nav {
    display: flex;
    gap: 27%;
    margin: 0% 5%;
    padding-top: 1%;
}

nav img {
    width: 80px;
}

.nav-links {
    display: flex;
    gap: 60px;
}

.nav-links ul {
    display: flex;
    gap: 50px;
    margin: 0;
    align-items: center;
    list-style: none;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--clr-neutral-400);
    font-weight: 300;
    white-space: nowrap;
}

.nav-links ul li a:hover {
    color: var(--clr-neutral-100);
    transition: 300ms ease-in;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.nav-buttons button {
    width: 160px;
    height: 60px;
    border: none;
    border-radius: 80vw;
    font-size: 22px;
}

.login {
    color: var(--clr-neutral-600);
    font-weight: 600;
    text-decoration: none;
}

.login:hover {
    border: 2px solid rgb(63, 62, 62);
    cursor: pointer;
    transition: 300ms ease-in;
}

.sign-up {
    background-color: hsla(0, 0%, 100%, 0.279);
    color: var(--clr-neutral-400);
    font-weight: 600;
}

.sign-up:hover {
    border: 2px solid rgb(63, 62, 62);
    cursor: pointer;
    transition: 300ms ease-in;
}

/*Styling for the HERO section*/

.hero-section {
    margin-inline: 5%;
    display: flex;
}

.hero-section1 {
    margin-top: 100px;
}

.yellow-text {
    color: var(--clr-neutral-500);
}

.hero-section1 h2 {
    color: var(--clr-neutral-400);
    font-size: 54px;
    font-weight: bold;
    margin: 0;
}

.white-p {
    color: var(--clr-neutral-400);
    font-family: "Nunito Sans", sans-serif;
    padding: 0;
}

.hero-section1 div {
    display: flex;
    gap: 40px;
}

.join {
    background-color: hsla(0, 0%, 100%, 0.279);
    color: var(--clr-neutral-400);
    font-weight: 600;
    font-size: 24px;
    width: 220px;
    height: 80px;
    border: none;
    border-radius: 80vw;
}

.join:hover {
    border: 2px solid rgb(63, 62, 62);
    cursor: pointer;
    transition: 300ms ease-in;
}

.play-btn {
    padding: 0;
    margin: 0;
    display: block;
}

.black-p {
    color: var(--clr-neutral-300);
    font-size: 24px;
    font-weight: var(--fw-regular);
}

.hero-section2 img {
    height: auto;
    width: 100%;
    max-width: 100%;
}

/*Styling for the MAIN section*/

.section-container {
    margin-inline: 5%;
}

.main-section1-sub1 {
    margin-block: 80px 50px;
}

.main-section1-sub1 h2 {
    font-size: 48px;
    font-weight: var(--fw-bold);
    text-align: center;
    padding-block: 10px;
    margin: 0;
    color: var(--clr-neutral-600);
}

.main-section1-sub1 p {
    font-size: 18px;
    text-align: center;
    width: 60%;
    margin: auto;
}

.main-section1-sub2 {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: space-between;
}

.gradient-number {
    font-size: 96px;
    font-weight: 300;
    background: linear-gradient(to right, #136CB5, #49BBBD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding: 0;
    margin: 0;
    text-align: center;
}

.normal-text {
    font-size: 32px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.main-section1-sub3 {
    margin-block: 80px;
}

.main-section1-sub3 h2 {
    text-align: center;
    font-weight: var(--fw-bold);
    font-size: 36px;
    color: var(--clr-neutral-700);
    line-height: 180%;
}

.main-section1-sub3 h2 span {
    color: var(--clr-neutral-800);
}

.main-section1-sub3 p {
    width: 65%;
    text-align: center;
    margin-inline: auto;
    line-height: 180%;
    font-size: 24px;
}

.main-section1-sub4 {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.main-section1-sub4 div {
    width: 450px;
    display: grid;
    border-radius: 20px;
    box-shadow: 0px 10px 60px 0px #262d7615;
}

.main-section1-sub4 div img {
    position: relative;
    margin-inline: auto;
    bottom: 40%;
}

.main-section1-sub4 div h3 {
    font-size: 30px;
    text-align: center;
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-700);
    padding-inline: 50px;
    margin-inline: auto;
    line-height: auto;
}

.main-section1-sub4 div p {
    font-size: 20px;
    line-height: 180%;
    padding-inline: 20px;
    text-align: center;
    color: var(--clr-neutral-900);
}

.main-section2 {
    
}

.what-is-totc {
    margin-block: 100px 50px;
}

.what {
    font-size: 44px;
    line-height: 180%;
    font-weight: var(--fw-semiBold);
    color: var(--clr-neutral-700);
    margin: 0;
    text-align: center;
}

.what span {
    color: var(--clr-neutral-800);
}

.what-paragraph {
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 2%;
    color: var(--clr-neutral-900);
    width: 76%;
    text-align: center;
    margin-inline: auto;
}

.instructor-students {
    display: flex;
    gap: 60px;
    margin-inline: 80px;
}

.for-instructors, .for-students {
    width: 600px;
    height: 400px;
    border-radius: 20px;
}

.for-instructors {
    background-image: url(../../Images/landing-page/for-instructor.png);
}

.for-students {
    background-image: url(../../Images/landing-page/for-students.png);
}

.for-instructors div {
    margin-inline: auto;
    margin-top: 120px;
    width: 300px;
}

.for-students div {
    margin-inline: auto;
    margin-top: 120px;
    width: 300px;
}

.for-instructors h2, .for-students h2 {
    font-size: 32px;
    font-weight: var(--fw-semiBold);
    text-align: center;
    color: var(--clr-neutral-400);
}

.for-instructors button {
    width: 283px;
    height: 80px;
    border-radius: 80vw;
    font-size: 22px;
    font-weight: var(--fw-medium);
    border-color: var(--clr-neutral-400);
    color: var(--clr-neutral-400);
    background: transparent;
}

.for-students button {
    width: 283px;
    height: 80px;
    border: none;
    border-radius: 80vw;
    font-size: 22px;
    font-weight: var(--fw-medium);
    background: var(--clr-primary-300);
    opacity: 90%;
    color: var(--clr-neutral-400);
}

.everything {
    display: flex;
    margin-block: 100px;
    gap: 2px;
}

.everything-you-can h3 {
    font-size: 36px;
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-700);
    line-height: 160%;
    text-align: left;
}

.everything-you-can h3 span {
    color: var(--clr-neutral-800);
}

.everything-you-can p {
    font-size: 24px;
    line-height: 180%;
    letter-spacing: 2%;
    color: var(--clr-neutral-900);
}

.everything-you-can a {
    font-size: 22px;
    color: var(--clr-neutral-900);
}

.our-features {
    font-size: 36px;
    color: var(--clr-neutral-700);
    line-height: 180%;
    text-align: center;
}

.our-features span {
    color: var(--clr-neutral-800);
}

.our-features-pgh {
    font-size: 24px;
    color: var(--clr-neutral-900);
    text-align: center;
    line-height: 180%;
}

.our-features-group2 {
    display: flex;
    margin-top: 70px;
}

.a-user {
    margin-top: 60px;
    margin-left: 30px;
}

.a-user h2 {
    font-size: 40px;
    line-height: 160%;
    font-weight: var(--fw-semiBold);
    color: var(--clr-neutral-700);
}

.a-user h2 span {
    color: var(--clr-neutral-800);
}

.a-user ul {
    font-size: 22px;
    color: var(--clr-neutral-900);
    list-style: none;
    padding-left: 0;
}

.a-user ul li {
    margin-bottom: 25px;
    padding-left: 80px; /* Space for the image */
    background-repeat: no-repeat;
    background-position: left center;
}

.item1 {
    background-image: url(../../Images/landing-page/grid-icon.png);
}

.item2 {
    background-image: url(../../Images/landing-page/front-icon.png);
}

.item3 {
    background-image: url(../../Images/landing-page/teachers&students.png);
}

.our-features-group3 {
    display: flex;
    position: relative;
    bottom: 350px;
}

.tools {
    margin-block: auto;
}

.our-features-group3 h2 {
    font-size: 40px;
    line-height: 160%;
    font-weight: var(--fw-semiBold);
    color: var(--clr-neutral-700);
    width: 393px;
    padding: 0;
    margin: 0;
}

.our-features-group3 h2 span {
    color: var(--clr-neutral-800);
}


.our-features-group3 p {
    font-size: 22px;
    line-height: 180%;
    color: var(--clr-neutral-900);
    letter-spacing: 2%;
    width: 81%;
    text-align: justify;
}

.our-features-group4 {
    display: flex;
    margin-top: -200px;
}

.assessments {
    margin-left: auto;
    margin-block: auto;
}

.assessments h2 {
    font-size: 40px;
    line-height: 160%;
    font-weight: var(--fw-semiBold);
    color: var(--clr-neutral-700);
    width: 347px;
}

.assessments h2 span {
    color: var(--clr-neutral-800);
}

.assessments p {
    font-size: 22px;
    color: var(--clr-neutral-900);
    line-height: 180%;
    letter-spacing: 2%;
    width: 550px;
}

.our-features-group5 {
    display: flex;
    margin-block: 80px;
}

.class-mgt {
    margin-block: auto;
}

.class-mgt h2 {
    font-size: 40px;
    line-height: 160%;
    font-weight: var(--fw-semiBold);
    color: var(--clr-neutral-700);
    width: 420px;
}

.class-mgt h2 span {
    color: var(--clr-neutral-800);
}

.class-mgt p {
    font-size: 22px;
    color: var(--clr-neutral-900);
    line-height: 180%;
    letter-spacing: 2%;
    width: 600px;
}

.class-mgt-img {
    margin-left: auto;
}

.our-features-group6 {
    display: flex;
}

.one-on-one {
    margin-left: auto;
    margin-block: auto;

}

.one-on-one h2 {
    font-size: 40px;
    line-height: 160%;
    font-weight: var(--fw-semiBold);
    color: var(--clr-neutral-700);
    width: 420px;
}

.one-on-one h2 span {
    color: var(--clr-neutral-800);
}

.one-on-one p {
    font-size: 22px;
    color: var(--clr-neutral-900);
    line-height: 180%;
    letter-spacing: 2%;
    width: 540px;
}

.see-more {
    display: flex;
    justify-content: center;
    margin-block: 40px;
}

.see-more button {
    width: 280px;
    height: 80px;
    border-radius: 80vw;
    font-size: 22px;
    font-weight: var(--fw-medium);
    border-color: var(--clr-neutral-800);
    color: var(--clr-neutral-800);
    background: transparent;
}

/* styling for explore courses section*/

.explore-course {
    position: relative;
}

.explore-course::before {
    content: "";
    width: 80%;
    height: 100%;
    background-color: #9dccff4f;
    position: absolute;
    border-radius: 0 0 80px 0;
    z-index: -1;
}

.explore-container {
    padding-top: 200px;
    margin-left: 5%;
}

.explore-container div h2 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-bold);
    opacity: 87%;
    padding: 0;
    margin: 0;
}

.explore-intro {
    font-size: 24px;
    font-weight: var(--fw-medium);
    opacity: 54%;
    margin-bottom: 60px;
}

.lorem-see-all {
    display: flex;
    justify-content: space-between;
}

.lorem {
    display: grid;
    grid-template-columns: 20px max-content;
    grid-gap: 20px;
    grid-template-rows: 40px;
    margin-bottom: 40px;
}

.lorem p {
    margin-block: auto;
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-bold);
    padding: 0;
}

.lorem-see-all a {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: var(--fw-medium);
    color: var(--clr-neutral-101);
    font-size: 24px;
}

.course-photo {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 80px;
}

/* styling for testimonial*/

.testimony-container {
    margin-inline: 5%;
    display: flex;
    margin-top: 70px;
}

.testimony h5 {
    font-size: 20px;
    font-weight: var(--fw-regular);
    letter-spacing: 20%;
    position: relative;
    margin-left: 70px;
    color: var(--clr-neutral-104);
}

.testimony h5::before {
    content: "";
    width: 55px;
    height: 1px;
    position: absolute;
    background-color: var(--clr-neutral-104);
    left: -70px;
    bottom: 15px;
}

.testimony h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 60px;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-700);
    padding: 0;
    margin: 0;
}

.testimony p {
    font-size: 26px;
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-900);
    letter-spacing: 2%;
}

.testimony a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    padding-inline: 10px 50px;
    padding-block: 20.8px;
    font-size: 22px;
    text-decoration: none;
    line-height: 160%;
    color: var(--clr-primary-100);
    border-top: 1px solid var(--clr-primary-100);
    border-bottom: 1px solid var(--clr-primary-100);
    border-left: 1px solid var(--clr-primary-100);
    border-radius: 80vw 0 0 80vw;
}

.testimony a img {
    position: absolute;
    left: 370px;
}

.next-testimony {
    position: relative;
    left: 550px;
    bottom: 280px;
    
}

.testimony-details {
    width: 680px;
    position: relative;
}