:root {
  --clr-neutral-100: #5B5B5B;
  --clr-neutral-200: #ACACAC;
  --clr-neutral-300: #000000;
  --clr-neutral-400: #FFFFFF; 
  --clr-neutral-500: #F48C06;
  --clr-neutral-600: #010514d8;
  --clr-neutral-700: #2F327D;
  --clr-neutral-800: #00CBB8;
  --clr-neutral-900: #696984;
  --clr-neutral-1000: #49BBBD;
  --clr-neutral-101: #00BCD4;
  --clr-neutral-102: #B2B3CF;
  --clr-neutral-103: #83839A;

  --clr-primary-100: #49BBBD;
  --clr-primary-200: #33EFA0;
  --clr-primary-300: #23BDEE;
  --clr-primary-400: #5B61EB;
  --clr-primary-500: #E13468;
  --clr-primary-600: #252641;
  --clr-primary-700: #9DCCFF;
  --clr-primary-800: #49BBBD;

  --clr-accent-100: #49bbbdaa;
  --clr-accent-200: #717FB0; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
